<!DOCTYPE html>
<html lang="ja"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>ajaxテスト(jquery)</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <script type="text/javascript" th:src="@{/js/test.js}"></script>
  <p>ajaxテスト(jquery)</p>
  <input id="button-get" type="button" value="テスト(GET通信)">
  <input id="button-post" type="button" value="テスト(POST通信)">
</body>
</html>