<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>顧客管理</title>
</head>
    <body>
        <div th:insert="~{common/sourceList :: sourceList}"></div>
        <div th:replace="~{common/header :: header}"></div>
        <div th:replace="~{common/messageIcon :: messageIcon}"></div>
        <script type="text/javascript" th:src="@{/js/customer.js}"></script>
        <div class="container-fluid">
            <div class="alert d-flex align-items-center mt-3" th:classappend="|${isError ? 'alert-danger' : 'alert-primary'}|" role="alert" th:if="${message != null}">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                    <use xlink:href="#exclamation-triangle-fill" th:if="${isError}" />
                    <use xlink:href="#info-fill" th:unless="${isError}"/>
                </svg>
                <span th:text="${message}"></span>
            </div>
            <h2 class="mt-3">顧客管理</h2>
            <div class="mt-3">
                <span>＜絞り込み検索条件＞</span>
            </div>
            <form th:action="@{/customer}" method="post" th:object="${customerForm}">
                <div class="mt-1">
                    <table>
                        <tr>
                            <td><span>顧客名：</span></td>
                            <td>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" th:field="*{name}">
                                    </div>
                                    <div class="col-auto">
                                        <span class="form-text">※部分一致</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-primary mt-3" name="search" value="検索">
                </div>
                <div class="mt-3">
                    <th:block th:unless="${#lists.isEmpty(customerList)}">
                        <table class="table table-striped" id="customerList">
                            <thead>
                            <tr>
                                <th scope="col">顧客ID</th>
                                <th scope="col">顧客名</th>
                                <th scope="col">取引状態</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="customer, stat  : ${customerList}" >  
                                    <td th:id="|id_${stat.count}|"><span th:text="${customer.id}"></span></td>
                                    <td th:id="|name_${stat.count}|"><span th:text="${customer.name}"></span></td>
                                    <td th:id="|isState_${stat.count}|"><span th:text="${customer.isState}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="text" th:field="*{selectedcustomerid}" hidden>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-plus-lg"></i>登録
                        </button> 
                        <button type="submit" class="btn btn-secondary" id="editBtn" name="edit" value= disabled>
                            <i class="bi bi-pencil"></i>編集
                        </button>   
                        <button type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" disabled>
                            <i class="bi bi-trash"></i>削除
                        </button>   
                        <input type="submit" id="deleteBtn" name="delete" hidden>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(customerList)}">
                        <div class="text-center">
                            <span>※対象のユーザーは存在しません。</span>
                        </div>
                    </th:block>
                    <div class="mt-3">
                        <a th:href="@{/topmenu}">▶トップメニューへ戻る</a>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- 削除確認モーダルの設定 -->
        <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">削除前確認</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        本当に削除してもよろしいですか？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="button" class="btn btn-primary" id="deleteOkBtn">削除する</button>
                    </div>
                </div>
            </div>
        </div>
</html>